.container-fumetti {
  background-color: black;
}

.copertine {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
  max-width: 1000px;
}

.card {
  width: calc(16.6666666667% - 20px);
  margin: 10px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-self: baseline;
  font-family: "Luckiest Guy", cursive;
}

.card .contenitore-immagine img {
  width: 100%;
  display: block;
}

.card .contenitore-titolo {
  background-color: black;
}

.card .contenitore-titolo h2 {
  font-size: 1em;
  color: #ffffff;
  padding-top: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  font-family: "Luckiest Guy", cursive;
}

header nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

header nav ul li {
  align-self: center;
}

header nav ul li:hover {
  border-bottom-color: 3px solid #0282f9;
}

header ul li a {
  text-decoration: none;
  color: #252525;
}

header ul li a:hover {
  color: #0282f9;
}

header .contenitore-immagine {
  background-image: url("/images/jumbotron.jpg");
  height: 350px;
  background-position: top center;
  background-size: cover;
}

header .contenitore-immagine img {
  width: 100%;
  height: 400px;
  display: block;
}

.menu-header li img {
  width: 70%;
}

footer {
  font-family: "Luckiest Guy", cursive;
  background-image: url("/images/footer-bg.jpg");
}

footer .container-footer .container-elenchi div ul li {
  font-family: "Luckiest Guy", cursive;
  color: #ffffff;
}

.container-footer {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
}

.container-footer img {
  width: 100%;
}

.container-elenchi {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

#left-ul {
  padding-left: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

ul li {
  color: #ffffff;
}

ul li:first-child {
  font-size: 1.3em;
  padding-bottom: 5px;
}

footer .container-footer .logo-footer {
  width: 300px;
}

footer .container-footer .logo-footer img {
  width: 100%;
  z-index: -5;
}

.contenitore-icone {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  height: 100px;
}

.sfondo-basso-footer {
  background-color: #303030;
  height: 100px;
}

.contenitore-icone div button {
  height: 40px;
  padding: 5px;
  color: #ffffff;
  background-color: #303030;
  border: 3px solid #0282f4;
  margin-left: 20px;
  font-family: "Luckiest Guy", cursive;
  margin-top: 25px;
}

#social {
  display: flex;
  align-items: center;
}

#social div {
  color: #0282f4;
  padding-right: 20px;
}

section {
  background-color: #0282f9;
  font-family: "Luckiest Guy", cursive;
}

section nav .container-banner {
  margin: 0 auto;
  max-width: 1000px;
}

section nav .container-banner ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

section nav .container-banner ul li {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  font-size: 0.7em;
}

section nav .container-banner ul li a {
  padding-left: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5em;
}

section nav .container-banner ul li img {
  width: 50px;
}

#banner_fumetto {
  background-color: #dddcdc;
  font-family: "Luckiest Guy", cursive;
}

#banner_fumetto nav .container-banner {
  margin: 0 auto;
  max-width: 1000px;
}

#banner_fumetto nav .container-banner ul {
  list-style: none;
  display: flex;
  padding-top: 0px;
}

#banner_fumetto nav .container-banner ul li {
  width: 25%;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  font-size: 0.7em;
  border: 4px solid #c2c1c1;
  border-right: 0px;
}

#banner_fumetto nav .container-banner ul li:last-child {
  border-right: 4px solid #c2c1c1;
}

#banner_fumetto nav .container-banner ul li a {
  padding-left: 10px;
  color: #c2c1c1;
  text-decoration: none;
  font-size: 1.5em;
}

#banner_fumetto nav .container-banner ul li img {
  width: 50px;
}

