section {
    background-color: #0282f9;
}

section nav .container-banner {
    margin: 0 auto;
    max-width: 1000px;
}

section nav .container-banner ul {
    list-style: none;
    display: flex;
}
