#banner_fumetto {
    background-color: #dddcdc;
    font-family: 'Luckiest Guy', cursive;
}

#banner_fumetto nav .container-banner {
    margin: 0 auto;
    max-width: 1000px;
}

#banner_fumetto nav .container-banner ul {
    list-style: none;
    display: flex;
    padding-top: 0px;
}

#banner_fumetto nav .container-banner ul li {
    width: 25%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    font-size: 0.7em;
    border: 4px solid #c2c1c1;
    border-right: 0px;
}

#banner_fumetto nav .container-banner ul li:last-child {
    border-right: 4px solid #c2c1c1;
}

#banner_fumetto nav .container-banner ul li a {
    padding-left: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}

#banner_fumetto nav .container-banner ul li img {
    width: 50px;
}
