header {
    background-color: #ffffff;
    font-family: 'Luckiest Guy', cursive;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
}

header nav ul li {
    align-self: center;

    &:hover {
        border-bottom-color: 3px solid rgb(6, 6, 187);
    }
}

header ul li a {
    text-decoration: none;
    color: #252525;

    &:hover {
        color: rgb(6, 6, 187);
    }
}

header .contenitore-immagine {
    background-image: url('/images/jumbotron.jpg');
    height: 350px;
    background-position: top center;
}

header .contenitore-immagine img {
    width: 100%;
    height: 400px;
    display: block;
}

.menu-header li img {
    width: 70%;
}
