header {
    background-color: aquamarine;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
}

header ul li a {
    text-decoration: none;
}
